
body{
    font-family:"Inconsolata";
    background-color: #18191A;
}
#CaseF{
    color:#0ad83b;
    text-align: center;
    margin: 0px 0px 100px 0px;
}
#Logo{
    border: 10px solid palevioletred;
}

p{
    COLOR:#0ad83b;
    
}
.Files{

    color:#0ad83b;
}
 .caseName:hover{
    color:black;
    background-color: #0ad83b;

}
button{
    border: none;
    color:#0ad83b;
    background: none;
    font-family: Inconsolata;
    font-size: large;
    width: 100%;
    text-align: left;
}
button:hover{
    color:black;
    background-color: #0ad83b;

}

.popUp1, .popUp2 , .popUp3, .popUp4{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(0.8);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.popContent1, .popContent2, .popContent3, .popContent4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #18191A;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

span{
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    color: #18191A;
    background-color: #0ad83b;
}

span:hover{
    background-color: red;
}

.showContent{
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}