
body{
    font-family:"Special Elite";
    background-color: #18191A;
}
#CaseF{
    color:#0ad83b;
    text-align: center;
    margin: 0px 0px 100px 0px;
}
#Logo{
    border: 10px solid palevioletred;
}

p{
    COLOR:#0ad83b;
    
}
.Files{
    display:grid;
    padding-top: 20px;
    grid-template-columns: 120px 120px;
    row-gap: 300px;
    justify-content: space-around;
    flex-wrap: wrap;
    color:#0ad83b;
}
.C001{
    padding: 10px 250px 45px 0px;
    border: 2px dotted papayawhip;
}

.popUp{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.popContent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #18191A;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.exitBtn{
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: #0ad83b;
}

.exitBtn:hover{
    background-color: red;
}

.showContent{
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}